$blue:    rgb(0, 106, 255);
$headings-font-family: "Open Sans", Gotham, gotham, Tahoma, Geneva, sans-serif;

.header {
    color: black;
    background-color: $blue;
    font-family: $headings-font-family;
}

.test {
    margin-top: 15px;
}


@import "../node_modules/bootstrap/scss/bootstrap";